<div class="d-flex">
    <div style="height: 94vh; width: 150px;" class="sidebar bg-info text-light p-3 fs-5 d-flex flex-column justify-content-between">
        <div class="d-flex flex-column align-items-center">
            <a style="text-decoration: none;margin-top: 10px;font-weight: bold;color: white;font-size: 18px;" routerLink="/dashboard">Home</a>
            <a style="text-decoration: none;margin-top: 10px;font-weight: bold;color: white;font-size: 18px;">Users</a>
          </div>
          <button style="font-size: 18px;" class="btn fw-bold" (click)="logOut()">Logout</button>
    </div>
    <div class="dashboard p-3 w-100">
        <div class="d-flex justify-content-between">
            <h1>Users List</h1>
            <a routerLink="add"><button class="btn btn-info">Add</button></a>
        </div>

        <div class="d-flex mt-3 align-items-center justify-content-between">
            <div class="d-flex justify-content-evenly align-items-center" style="width: 480px;">
                <span>Search:</span>
                <input type="text" placeholder="search by username" class="form-control w-50 ms-2" [(ngModel)]="searchKey"/>
                
                    <div class="dropdown">
                        <button class="btn btn-secondary ms-2" mat-button [matMenuTriggerFor]="menu">Sort</button>
                        <mat-menu #menu="matMenu">
                            <button (click)="sortById()" mat-menu-item>By UserId</button>
                            <button (click)="sortByName()" mat-menu-item>By UserName</button>
                        </mat-menu>
                    </div>
            </div>
                <button class="btn btn-success" (click)="generatePDF()">Export</button>
        </div>
        <table class="table shadow mt-5">
            <thead>
                <tr>
                    <th>User ID</th>
                    <th>User Name</th>
                    <th>Email</th>
                    <th>Status</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let user of allUsers | search:searchKey | paginate: { itemsPerPage: 5, currentPage: p }" [hidden]="user.id==='1'">
                    <td>{{user.id}}</td>
                    <td>{{user.name}}</td>
                    <td>{{user.email}}</td>
                    <td><span [ngClass]="user.active=='1'?'btn btn-success':'btn btn-warning text-light'">{{user.active=="1"?"Active":"InActive"}}</span></td>
                    <td>
                        <!-- edit -->
                        <a routerLink="edit/{{user.id}}"><i class="fa-solid fa-pen text-sucess btn"></i></a>
                        <!-- delete -->
                        <i (click)="removeUser(user.id)" class="fa-solid fa-trash text-danger btn"></i>
                    </td>
                </tr>

                <tr *ngIf="(allUsers|search:searchKey).length ===0">
                    <p class="fw-bolder text-danger ">User does not exist</p>
                </tr>
            </tbody>
        </table>
        <div class="text-center mt-5"><pagination-controls (pageChange)="p = $event"></pagination-controls></div>
    </div>
</div>