<div class="d-flex border border-light">
  <div style="height: 89vh; width: 150px;" class="sidebar bg-primary text-light p-3 fs-5 d-flex flex-column">
    <a style="text-decoration: none;margin-top: 10px;font-weight: bold;color: white;"routerLink="/home">Home</a>
    <a style="text-decoration: none;margin-top: 10px;font-weight: bold;color: white;"routerLink="/users">Users</a>
    <button class="btn btn-info" (click)="logOut()">Logout</button>

  </div>
  <div class="dashboard d-flex align-items-center justify-content-center flex-column p-3 w-100">
   <h1>Edit User Details</h1>
   <div style="width: 70%;" class="shadow mt-3 p-3 rounded bg-light ">
   
    <form #editUserForm="ngForm">
          
      <div class="form-floating mb-3">
          <input type="text" class="form-control " id="floatingInputid" placeholder="User Id"
           name="id" [(ngModel)]="user.id" required pattern="[0-9]*" #useridinput="ngModel">
          <label for="floatingInput">User Id</label>
        </div>
        <!-- invalid id -->
        <div class="mb-3 text-danger fw-bolder" *ngIf="useridinput.invalid && useridinput.touched">
          Invalid id
        </div>
        <div class="form-floating mb-3">
          <input type="text" class="form-control" id="floatingPassword" placeholder="name"
          name="username" [(ngModel)]="user.name" required #usernameinput="ngModel">
          <label for="floatingPassword">Username</label>
        </div>
        <!-- invalid username -->
        <div class="mb-3 text-danger fw-bolder" *ngIf="usernameinput.invalid && usernameinput.touched">
          Invalid Username
        </div>
        <div class="form-floating mb-3">
            <input type="email" class="form-control" id="floatingPassword" placeholder="name@example.com"
            name="email" [(ngModel)]="user.email" email required #useremailinput="ngModel" required>
            <label for="floatingPassword">Email</label>
          </div>
          <div class="mb-3 text-danger fw-bolder" *ngIf="useremailinput.invalid && useremailinput.touched">
            Invalid Email
          </div>
          
          <div class="form-floating  mb-3">
            <label for="floatingInputstatus">Status</label>

          <select class="form-control" name="active" id="floatingInputstatus" 
          name="active" [(ngModel)]="user.active" #active="ngModel" required>
            <option disabled selected hidden value=""></option>
            <option value="1">Active</option>
            <option value="0">InActive</option>
          </select>
          </div>
    
           <!-- invalid status -->
        <div class="mb-3 text-danger fw-bolder" *ngIf="active.invalid && active.touched">
          Invalid Status
        </div>

        <div class="d-flex ms-2 ">
          <button (click)="cancel(user.id)" class="btn btn-warning fs-4">Cancel</button>
          <button (click)="editUser(user.id)" type="submit" [disabled]="editUserForm.invalid" class="btn btn-success fs-4 ms-5">Update</button>

        </div>
  </form>
    
</div>
  </div>
</div>